<?xml version="1.0"?>
<model>
  <name>m20_nav2_gazebo_sandbox</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>m20_nav2_gazebo_sandbox</name>
  </author>
  <description>
    Gazebo model-path entry used to resolve M20 package meshes and worlds.
  </description>
</model>
